.home .container{
    background-color: white;
    margin-top: 20px;
}

.home .container .greeting{
    padding: 20px;
    font-size: 25px;
    color: black;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    margin-bottom: 40px;
}

